@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// Colors
$base-color: #ffffff;
$body-bg-color: #222222;
$nav-bg-color: #555555;
$footer-bg-color: #000000;

// Font Colors
$headline-color: $base-color;
$font-color: #dfdfdf;
$accent-1: #067d91;
$accent-2: #35c5de;

// Sizes
$site-container: 900px;
$nav-height: 55px;
$nav-height-mobile: 60px;
$section-padding: 80px;
$section-padding-mobile: 50px;

// Media Queries
$bp-1: $site-container;
$bp-2: 830px;
$bp-3: 780px;
$bp-3: 650px;
$bp-4: 550px;
$bp-5: 350px;


// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
// 		   MIXINS
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

@mixin smoothie($dur) {
	-webkit-transition: all $dur ease-in-out;
	-moz-transition: all $dur ease-in-out;
	-o-transition: all $dur ease-in-out;
	transition: all $dur ease-in-out;
}

@mixin noSmoothie() {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

@mixin rotate($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin blur($amt){
	-webkit-filter: blur($amt);
	-moz-filter: blur($amt);
	-o-filter: blur($amt);
	filter: blur($amt);	
}

@mixin middleIt(){
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin grayScale(){
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);	
}

@mixin appearanceNone(){
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-appearance: none;
}

@mixin makeItPop($dur){
	-webkit-animation: fadeit $dur;
	-moz-animation: fadeit $dur;
	-ms-animation: fadeit $dur;
	-o-animation: fadeit $dur;
	animation: fadeit $dur;

	@keyframes fadeit {
		from { background-color: $accent-2; }
		to   { background-color: $nav-bg-color; }
	}

	@-moz-keyframes fadeit {
		from { background-color: $accent-2; }
		to   { background-color: $nav-bg-color; }
	}

	@-webkit-keyframes fadeit {
		from { background-color: $accent-2; }
		to   { background-color: $nav-bg-color; }
	}

	@-ms-keyframes fadeit {
		from { background-color: $accent-2; }
		to   { background-color: $nav-bg-color; }
	}

}


@mixin flshingText($c1, $c2, $dur){

	-webkit-animation: color-change $dur infinite;
	-moz-animation: color-change $dur infinite;
	-o-animation: color-change $dur infinite;
	-ms-animation: color-change $dur infinite;
	animation: color-change $dur infinite;

	@-webkit-keyframes color-change {
		0% { color: $c1; }
		50% { color: $c2; }
		100% { color: $c1; }
	}
	@-moz-keyframes color-change {
		0% { color: $c1; }
		50% { color: $c2; }
		100% { color: $c1; }
	}
	@-ms-keyframes color-change {
		0% { color: $c1; }
		50% { color: $c2; }
		100% { color: $c1; }
	}
	@-o-keyframes color-change {
		0% { color: $c1; }
		50% { color: $c2; }
		100% { color: $c1; }
	}
	@keyframes color-change {
		0% { color: $c1; }
		50% { color: $c2; }
		100% { color: $c1; }
	}
}

// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
// 		  GLOBAL STYLES
// =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*

* {
	font-family: "Lora", serif;
	color: $font-color;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, app-root { 
	background-color: $body-bg-color;
}

h1 { 
    font-family: 'Great Vibes', 'Lora', serif;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: $accent-2;
    @include smoothie(0.2s);

    &:hover {
        color: $accent-1;
    }
}

section {
    width: 100%;
    height: auto;

    .container {
        width: 100%;
        max-width: $site-container;
        margin: 0 auto;
    }

}


// HEADER 
section.header {
    padding: 100px 5%;
    background-color: #000;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('assets/images/SD-hex-bg.jpg');
        background-size: 120% auto;
        background-position: top 50% center;
        background-repeat: no-repeat;
        z-index: 0;
        opacity: 0.4;

        @media screen and (max-width: $bp-1){
            background-size: cover;
        }
    }

    .container {
        position: relative;
        z-index: 2;

        h1 {
            width: 100%;
            text-align: center;
            font-size: 75px;

            @media screen and (max-width: $bp-2){
                font-size: 60px;
            }

            @media screen and (max-width: $bp-3){
                font-size: 45px;
            }
        }

    }
}


// LOGO
.logo {
    width: 100%;
    text-align: center;
    background: #000;
    height: 0;

    a {
        display: inline-block;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 10px solid $body-bg-color;
            background: $body-bg-color;
            position: relative;
            top: -40px;
        }

        &:hover img {
            @include smoothie(0.2s);
            background:#333;
            border-color: #333;
        }
    }
} 



// NOTE
section.note {
    padding: 80px 5%;

    .container {

        p {
            color: #cccccc;
            font-size: 18px;
            margin-bottom: 18px;
            line-height: 1.8em;
            letter-spacing: 0.02em;
            font-weight: 100;

            img.sig {
                max-width: 180px;
                height: auto;
            }

        }
    }
}


// FOOTER
section.footer {
    padding: 40px 3%;
    background: #111;

    .container {

        p {
            text-align: center;
            letter-spacing: 0.03em;
        }
    }
}

